<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>AddOption</title>
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      console.log("Function Part");
      function deleteOption(id) {
        fetch(`/delete/Option/${id}`, {
          method: "DELETE",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.log(err));
      }
    </script>
  </head>
  <body>
    <% if (QuetionDetail.length != 0 ) { %>
    <div class="grid justify-center my-6">
      <% if(messages && messages.error && messages.error.length != 0) { %>
      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-center mb-3"
        role="alert"
      >
        <strong> <%=messages.error %> </strong>
      </div>
      <% } %> <% if(messages && messages.success && messages.success.length !=
      0) { %>
      <div
        class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative text-center mb-3"
        role="alert"
      >
        <strong> <%=messages.success %> </strong>
      </div>
      <% } %> <%-include ("header.ejs") %> <% for( let i = 0; i <
      QuetionDetail.length ; i++ ) { %>
      <div class="text-xl font-medium">
        Quetion Title: <%=QuetionDetail[i].QuetionTitle %>
      </div>
      <div class="text-xl font-medium">
        Quetion Description: <%=QuetionDetail[i].Description %>
      </div>
      <form action="/addOption/<%=QuetionDetail[i].id%>/<%=Id%>" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
        <span class="text-xl block my-4 font-medium">Option Name/Title:</span>
        <input
          type="text"
          name="Title"
          class="rounded border border-black outline-none p-3 w-2/4"
          placeholder="Enter Quetion Name"
        />
        <input
          type="submit"
          value="Add"
          class="my-4 text-xl rounded bg-green-700 font-medium p-1 outline-none text-white w-20 h-12 cursor-pointer block"
        />
      </form>
      <span class="text-2xl font-medium"
        >You Have <%=OptionList.length%> Previous Option:</span
      >
      <div class="mt-5">
        <% for( let i = 0; i < OptionList.length ; i++ ) { %>
        <div class="flex-wrap mt-5">
          <div class="inline-blcok">
            <span class="inline-blcok text-xl">
              <%=OptionList[i].OptionTitle%>
            </span>
            <a
              href=""
              onclick="deleteOption(<%=OptionList[i].id%>)"
              class="ml-3 bg-red-500 text-xl rounded font-medium p-2 outline-none text-white w-56 h-12 relative text-center my-3"
              >Delete Option</a
            >
            <a
              href="/editOption/<%=OptionList[i].id%>/<%=Id%>"
              class="ml-3 bg-emerald-500 text-xl rounded font-medium p-2 outline-none text-white w-56 h-12 relative text-center my-3"
              >Edit Option</a
            >
          </div>
        </div>
        <% } %> <% } %>
      </div>
    </div>
    <% } else { %>
    <div class="grid justify-center my-6">
      <%-include ("header.ejs") %>
      <div class="text-2xl font-medium text-center">Please Create Quetion</div>
    </div>
    <% } %>
    <script>
      function goback() {
        let btnGoBack = (document.getElementById("goBack").href =
          "/ManageQuetion/<%=Id%>");
      }
    </script>
  </body>
</html>
