<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>AddOption</title>
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      console.log("Function Part");
      function deleteOption(id) {
        fetch(`/delete/Option/${id}`, {
          method: "DELETE",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.log(err));
      }
    </script>
  </head>
  <body>
    <% if (QuetionDetail.length != 0 ) { %>
    <div class="grid justify-center">
      <%-include ("header.ejs") %> <%- include ("./notification.ejs")%> <% for(
      let i = 0; i < QuetionDetail.length ; i++ ) { %>
      <div class="text-xl font-medium ml-20 my-2">
        Quetion Title: <%=QuetionDetail[i].QuetionTitle %>
      </div>
      <div class="text-xl font-medium ml-20 my-2">
        Quetion Description: <%=QuetionDetail[i].Description %>
      </div>
      <form
        action="/addOption/<%=QuetionDetail[i].id%>/<%=Id%>"
        method="post"
        class="ml-20"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
        <span class="text-xl block my-4 font-medium">Option Name/Title:</span>
        <input
          type="text"
          name="Title"
          class="outline-none p-2 text-black shadow my-1.5 rounded bg-gray-100 focus:ring-2 focus:ring-purple-200"
          placeholder="Enter Option Name"
        />
        <input
          type="submit"
          value="Add"
          class="my-4 text-xl rounded bg-green-700 font-medium p-1 outline-none text-white w-20 h-12 cursor-pointer block"
        />
      </form>
      <span class="text-2xl font-medium ml-20"
        >You Have <%=OptionList.length%> Previous Option:</span
      >
      <div class="mt-5">
        <% for( let i = 0; i < OptionList.length ; i++ ) { %>
        <div class="flex-wrap mt-5 ml-20">
          <div class="inline-blcok">
            <span class="inline-blcok text-xl">
              <%=OptionList[i].OptionTitle%>
            </span>
            <a
              href=""
              onclick="deleteOption(<%=OptionList[i].id%>)"
              class="ml-3 bg-red-500 text-xl rounded font-medium p-2 outline-none text-white w-56 h-12 relative text-center my-3"
              >Delete Option</a
            >
            <a
              href="/editOption/<%=OptionList[i].id%>/<%=Id%>"
              class="ml-3 bg-emerald-500 text-xl rounded font-medium p-2 outline-none text-white w-56 h-12 relative text-center my-3"
              >Edit Option</a
            >
          </div>
        </div>
        <% } %> <% } %>
      </div>
    </div>
    <% } else { %>
    <div class="grid justify-center my-6">
      <%-include ("header.ejs") %> <%- include ("./notification.ejs")%>
      <div class="text-2xl font-medium text-center">Please Create Quetion</div>
    </div>
    <% } %>
    <script>
      function goback() {
        let btnGoBack = (document.getElementById("goBack").href =
          "/ManageQuetion/<%=Id%>");
      }
    </script>
  </body>
</html>
