<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Quetion</title>
  </head>
  <body>
    <div class="grid justify-center">
      <%-include ("header")%> <%- include ("./notification.ejs")%>
      <div>
        <form
          action="/editQuetion/<%=QuetionDetail.id%>"
          method="post"
          class="ml-20"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
          <span class="text-xl block my-4">Quetion Name/Title:</span>
          <input
            type="text"
            name="QuetionTitle"
            class="outline-none p-2 text-black shadow my-1.5 rounded bg-gray-100 focus:ring-2 focus:ring-purple-200"
            placeholder="<%=QuetionDetail.QuetionTitle%>"
            required
          />
          <span class="text-xl block my-4">Quetion Description:</span>
          <textarea
            name="Description"
            placeholder="<%=QuetionDetail.Description%>"
            class="outline-none p-2 text-black shadow my-1.5 rounded bg-gray-100 focus:ring-2 focus:ring-purple-200 resize-none"
            cols="40"
            rows="3"
            required
          ></textarea>
          <input
            type="submit"
            value="Update"
            class="my-4 text-xl rounded bg-green-700 font-medium p-1 outline-none text-white w-20 h-12 cursor-pointer block"
          />
        </form>
      </div>
    </div>
    <script>
      function goback() {
        let btnGoBack = (document.getElementById("goBack").href =
          "/ManageQuetion/<%=QuetionDetail.ElectionId%>");
      }
    </script>
  </body>
</html>
