<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Quetion</title>
  </head>
  <body>
    <div class="grid justify-center font-semibold">
      <%-include ("./header")%> <%-include ("./notification.ejs")%>
      <div>
        <form
          action="/editOption/<%=OptionList.id%>/<%=Id%>"
          method="post"
          class="ml-20"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
          <span class="text-xl block my-4">Enter Option Title:</span>
          <input
            type="text"
            name="OptionTitle"
            class="outline-none p-2 text-black shadow my-1.5 rounded bg-gray-100 focus:ring-2 focus:ring-purple-200"
            placeholder="Enter New Option Title"
            required
          />
          <input
            type="submit"
            value="Update"
            class="my-4 text-xl rounded bg-green-700 font-medium p-1 outline-none text-white w-20 h-12 cursor-pointer block"
          />
        </form>
      </div>
    </div>
    <script>
      function goback() {
        let btnGoBack = (document.getElementById("goBack").href =
          "/ManageOption/<%=OptionList.OptionId%>/election/<%=Id%>");
      }
    </script>
  </body>
</html>
